In [1]:
# PANDAS Exercise

import pandas as pd

In [2]:
# load excel

xlsx = pd.ExcelFile(r"D:\htdocs\web-bootcamp-1\doc\python\Sales_train_test.xlsx")

In [4]:
df = pd.read_excel(xlsx, "Sheet1")

In [5]:
df

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1,set
0,1,45.454545,679548.408057,44.00,61.56,531000,93000,1,Train
1,4,206347.693481,401672.025723,52.46,62.20,256000,15000,4,Train
2,5,281893.004115,340984.883902,43.74,64.17,297000,0,5,Train
3,13,432531.908578,132211.967848,33.69,67.18,36000,111000,13,Train
4,14,467367.485934,134164.874552,33.77,69.75,54000,78000,14,Train
5,15,468017.732742,119590.305828,31.58,69.32,22000,0,15,Train
6,17,468070.057258,102920.544023,29.69,69.85,26000,0,17,Train
7,21,471669.477234,82831.410076,29.65,71.06,40000,0,21,Train
8,22,442158.516020,75310.910119,29.65,70.76,30000,0,22,Train
9,23,436342.202762,70489.977728,29.69,71.84,164000,0,23,Train
10,24,464966.216216,72184.623714,29.60,73.88,0,0,24,Train
11,25,423801.369863,63365.139094,29.20,74.41,0,0,25,Train
12,26,473509.015257,68699.515347,28.84,74.28,0,0,26,Train
13,27,447326.109752,60219.571700,28.61,73.78,15000,0,27,Train
14,29,463757.916960,57489.264966,28.42,79.18,17000,0,29,Train
15,31,440317.858637,49630.290668,23.91,78.44,84000,0,31,Train
16,32,465010.526316,51064.100930,23.75,78.47,46000,46000,32,Train
17,33,463030.303030,49213.454406,24.75,78.19,0,0,33,Train
18,35,424450.659209,43515.445494,25.03,78.34,0,0,35,Train
19,37,430553.390491,41814.744802,25.66,79.35,95000,0,37,Train
20,39,413521.015067,36974.492206,25.22,84.68,82000,0,39,Train
21,43,420064.076892,32359.445932,24.97,85.91,0,0,43,Train
22,44,437086.359968,32779.991147,24.78,90.36,26000,0,44,Train
23,45,441267.942584,32139.766335,25.08,92.44,42000,0,45,Train
24,47,409751.283064,27896.440129,25.33,92.70,0,7000,47,Train
25,50,431752.988048,27635.901240,25.10,94.37,0,0,50,Train
26,2,51919.228670,620905.137703,54.97,62.09,399000,0,2,Test
27,3,158308.494784,527152.744246,53.68,62.13,282000,0,3,Test
28,6,331328.187384,283159.328189,37.57,66.09,193000,0,6,Test
29,7,376942.496494,243670.886076,35.65,66.36,195000,76000,7,Test
30,8,378894.901737,202938.971360,35.11,66.69,120000,0,8,Test
31,9,434965.831435,200334.295700,35.12,65.81,72000,0,9,Test
32,10,425606.936416,172570.390554,34.60,66.06,157000,19000,10,Test
33,11,404534.883721,147985.513807,34.40,66.27,110000,0,11,Test
34,12,455940.594059,150897.934750,34.34,66.82,203000,0,12,Test
35,16,430784.508441,101639.580037,30.21,69.53,60000,158000,16,Test
36,18,470783.847981,96750.644145,29.47,69.86,0,0,18,Test
37,19,466666.666667,90909.090909,29.31,70.18,64000,0,19,Test
38,20,462228.997290,85247.763737,29.52,70.43,24000,0,20,Test
39,28,424519.734544,54561.262707,28.63,74.76,0,0,28,Test
40,30,450906.400296,53244.298853,27.03,79.37,82000,10000,30,Test
41,34,446573.705179,46732.648141,25.10,78.81,0,0,34,Test
42,36,445609.177215,44245.654105,25.28,78.81,0,0,36,Test
43,38,452777.777778,42617.813668,25.56,82.97,0,0,38,Test
44,40,402358.113509,34116.674539,25.02,84.68,54000,0,40,Test
45,41,462519.809826,38067.246649,25.24,85.06,0,0,41,Test
46,42,436985.759494,34411.247803,25.28,85.35,63000,0,42,Test
47,46,430973.797419,30470.103986,25.57,92.32,48000,0,46,Test
48,48,407815.631263,27059.965487,24.95,92.72,0,0,48,Test
49,49,411943.319838,26948.051948,24.70,92.40,0,0,49,Test

In [8]:
df.iloc[[0],[2]] # 0th row, 2nd col

         sales_b
0  679548.408057

In [9]:
df.loc[[0],['period']] # 0th row, period column

   period
0       1

In [11]:
df[['period', 'sales_a']] # get period and sales_a columns

    period        sales_a
0        1      45.454545
1        4  206347.693481
2        5  281893.004115
3       13  432531.908578
4       14  467367.485934
5       15  468017.732742
6       17  468070.057258
7       21  471669.477234
8       22  442158.516020
9       23  436342.202762
10      24  464966.216216
11      25  423801.369863
12      26  473509.015257
13      27  447326.109752
14      29  463757.916960
15      31  440317.858637
16      32  465010.526316
17      33  463030.303030
18      35  424450.659209
19      37  430553.390491
20      39  413521.015067
21      43  420064.076892
22      44  437086.359968
23      45  441267.942584
24      47  409751.283064
25      50  431752.988048
26       2   51919.228670
27       3  158308.494784
28       6  331328.187384
29       7  376942.496494
30       8  378894.901737
31       9  434965.831435
32      10  425606.936416
33      11  404534.883721
34      12  455940.594059
35      16  430784.508441
36      18  470783.847981
37      19  466666.666667
38      20  462228.997290
39      28  424519.734544
40      30  450906.400296
41      34  446573.705179
42      36  445609.177215
43      38  452777.777778
44      40  402358.113509
45      41  462519.809826
46      42  436985.759494
47      46  430973.797419
48      48  407815.631263
49      49  411943.319838

In [15]:
df.sample(n=10) # get 10 random samples

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1,set
31,9,434965.831435,200334.295700,35.12,65.81,72000,0,9,Test
18,35,424450.659209,43515.445494,25.03,78.34,0,0,35,Train
42,36,445609.177215,44245.654105,25.28,78.81,0,0,36,Test
28,6,331328.187384,283159.328189,37.57,66.09,193000,0,6,Test
16,32,465010.526316,51064.100930,23.75,78.47,46000,46000,32,Train
0,1,45.454545,679548.408057,44.00,61.56,531000,93000,1,Train
25,50,431752.988048,27635.901240,25.10,94.37,0,0,50,Train
38,20,462228.997290,85247.763737,29.52,70.43,24000,0,20,Test
8,22,442158.516020,75310.910119,29.65,70.76,30000,0,22,Train
24,47,409751.283064,27896.440129,25.33,92.70,0,7000,47,Train

In [16]:
df.head(10) # get the head/top of the dataset

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1,set
0,1,45.454545,679548.408057,44.00,61.56,531000,93000,1,Train
1,4,206347.693481,401672.025723,52.46,62.20,256000,15000,4,Train
2,5,281893.004115,340984.883902,43.74,64.17,297000,0,5,Train
3,13,432531.908578,132211.967848,33.69,67.18,36000,111000,13,Train
4,14,467367.485934,134164.874552,33.77,69.75,54000,78000,14,Train
5,15,468017.732742,119590.305828,31.58,69.32,22000,0,15,Train
6,17,468070.057258,102920.544023,29.69,69.85,26000,0,17,Train
7,21,471669.477234,82831.410076,29.65,71.06,40000,0,21,Train
8,22,442158.516020,75310.910119,29.65,70.76,30000,0,22,Train
9,23,436342.202762,70489.977728,29.69,71.84,164000,0,23,Train

In [17]:
df.tail(10) # get the bottom

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1,set
40,30,450906.400296,53244.298853,27.03,79.37,82000,10000,30,Test
41,34,446573.705179,46732.648141,25.10,78.81,0,0,34,Test
42,36,445609.177215,44245.654105,25.28,78.81,0,0,36,Test
43,38,452777.777778,42617.813668,25.56,82.97,0,0,38,Test
44,40,402358.113509,34116.674539,25.02,84.68,54000,0,40,Test
45,41,462519.809826,38067.246649,25.24,85.06,0,0,41,Test
46,42,436985.759494,34411.247803,25.28,85.35,63000,0,42,Test
47,46,430973.797419,30470.103986,25.57,92.32,48000,0,46,Test
48,48,407815.631263,27059.965487,24.95,92.72,0,0,48,Test
49,49,411943.319838,26948.051948,24.70,92.40,0,0,49,Test

In [20]:
df[df.period >= 10] # get rows where period >= 10

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1,set
0,1,45.454545,679548.408057,44.00,61.56,531000,93000,1,Train
1,4,206347.693481,401672.025723,52.46,62.20,256000,15000,4,Train
2,5,281893.004115,340984.883902,43.74,64.17,297000,0,5,Train
3,13,432531.908578,132211.967848,33.69,67.18,36000,111000,13,Train
4,14,467367.485934,134164.874552,33.77,69.75,54000,78000,14,Train
5,15,468017.732742,119590.305828,31.58,69.32,22000,0,15,Train
6,17,468070.057258,102920.544023,29.69,69.85,26000,0,17,Train
7,21,471669.477234,82831.410076,29.65,71.06,40000,0,21,Train
8,22,442158.516020,75310.910119,29.65,70.76,30000,0,22,Train
9,23,436342.202762,70489.977728,29.69,71.84,164000,0,23,Train
10,24,464966.216216,72184.623714,29.60,73.88,0,0,24,Train
11,25,423801.369863,63365.139094,29.20,74.41,0,0,25,Train
12,26,473509.015257,68699.515347,28.84,74.28,0,0,26,Train
13,27,447326.109752,60219.571700,28.61,73.78,15000,0,27,Train
14,29,463757.916960,57489.264966,28.42,79.18,17000,0,29,Train
15,31,440317.858637,49630.290668,23.91,78.44,84000,0,31,Train
16,32,465010.526316,51064.100930,23.75,78.47,46000,46000,32,Train
17,33,463030.303030,49213.454406,24.75,78.19,0,0,33,Train
18,35,424450.659209,43515.445494,25.03,78.34,0,0,35,Train
19,37,430553.390491,41814.744802,25.66,79.35,95000,0,37,Train
20,39,413521.015067,36974.492206,25.22,84.68,82000,0,39,Train
21,43,420064.076892,32359.445932,24.97,85.91,0,0,43,Train
22,44,437086.359968,32779.991147,24.78,90.36,26000,0,44,Train
23,45,441267.942584,32139.766335,25.08,92.44,42000,0,45,Train
24,47,409751.283064,27896.440129,25.33,92.70,0,7000,47,Train
25,50,431752.988048,27635.901240,25.10,94.37,0,0,50,Train
26,2,51919.228670,620905.137703,54.97,62.09,399000,0,2,Test
27,3,158308.494784,527152.744246,53.68,62.13,282000,0,3,Test
28,6,331328.187384,283159.328189,37.57,66.09,193000,0,6,Test
29,7,376942.496494,243670.886076,35.65,66.36,195000,76000,7,Test
30,8,378894.901737,202938.971360,35.11,66.69,120000,0,8,Test
31,9,434965.831435,200334.295700,35.12,65.81,72000,0,9,Test
33,11,404534.883721,147985.513807,34.40,66.27,110000,0,11,Test
34,12,455940.594059,150897.934750,34.34,66.82,203000,0,12,Test
35,16,430784.508441,101639.580037,30.21,69.53,60000,158000,16,Test
36,18,470783.847981,96750.644145,29.47,69.86,0,0,18,Test
37,19,466666.666667,90909.090909,29.31,70.18,64000,0,19,Test
38,20,462228.997290,85247.763737,29.52,70.43,24000,0,20,Test
39,28,424519.734544,54561.262707,28.63,74.76,0,0,28,Test
40,30,450906.400296,53244.298853,27.03,79.37,82000,10000,30,Test
41,34,446573.705179,46732.648141,25.10,78.81,0,0,34,Test
42,36,445609.177215,44245.654105,25.28,78.81,0,0,36,Test
43,38,452777.777778,42617.813668,25.56,82.97,0,0,38,Test
44,40,402358.113509,34116.674539,25.02,84.68,54000,0,40,Test
45,41,462519.809826,38067.246649,25.24,85.06,0,0,41,Test
46,42,436985.759494,34411.247803,25.28,85.35,63000,0,42,Test
47,46,430973.797419,30470.103986,25.57,92.32,48000,0,46,Test
48,48,407815.631263,27059.965487,24.95,92.72,0,0,48,Test
49,49,411943.319838,26948.051948,24.70,92.40,0,0,49,Test

In [22]:
df.sort_values(by='period', ascending=False) # sort values by period (ascending or descending)

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1,set
25,50,431752.988048,27635.901240,25.10,94.37,0,0,50,Train
49,49,411943.319838,26948.051948,24.70,92.40,0,0,49,Test
48,48,407815.631263,27059.965487,24.95,92.72,0,0,48,Test
24,47,409751.283064,27896.440129,25.33,92.70,0,7000,47,Train
47,46,430973.797419,30470.103986,25.57,92.32,48000,0,46,Test
23,45,441267.942584,32139.766335,25.08,92.44,42000,0,45,Train
22,44,437086.359968,32779.991147,24.78,90.36,26000,0,44,Train
21,43,420064.076892,32359.445932,24.97,85.91,0,0,43,Train
46,42,436985.759494,34411.247803,25.28,85.35,63000,0,42,Test
45,41,462519.809826,38067.246649,25.24,85.06,0,0,41,Test
44,40,402358.113509,34116.674539,25.02,84.68,54000,0,40,Test
20,39,413521.015067,36974.492206,25.22,84.68,82000,0,39,Train
43,38,452777.777778,42617.813668,25.56,82.97,0,0,38,Test
19,37,430553.390491,41814.744802,25.66,79.35,95000,0,37,Train
42,36,445609.177215,44245.654105,25.28,78.81,0,0,36,Test
18,35,424450.659209,43515.445494,25.03,78.34,0,0,35,Train
41,34,446573.705179,46732.648141,25.10,78.81,0,0,34,Test
17,33,463030.303030,49213.454406,24.75,78.19,0,0,33,Train
16,32,465010.526316,51064.100930,23.75,78.47,46000,46000,32,Train
15,31,440317.858637,49630.290668,23.91,78.44,84000,0,31,Train
40,30,450906.400296,53244.298853,27.03,79.37,82000,10000,30,Test
14,29,463757.916960,57489.264966,28.42,79.18,17000,0,29,Train
39,28,424519.734544,54561.262707,28.63,74.76,0,0,28,Test
13,27,447326.109752,60219.571700,28.61,73.78,15000,0,27,Train
12,26,473509.015257,68699.515347,28.84,74.28,0,0,26,Train
11,25,423801.369863,63365.139094,29.20,74.41,0,0,25,Train
10,24,464966.216216,72184.623714,29.60,73.88,0,0,24,Train
9,23,436342.202762,70489.977728,29.69,71.84,164000,0,23,Train
8,22,442158.516020,75310.910119,29.65,70.76,30000,0,22,Train
7,21,471669.477234,82831.410076,29.65,71.06,40000,0,21,Train
38,20,462228.997290,85247.763737,29.52,70.43,24000,0,20,Test
37,19,466666.666667,90909.090909,29.31,70.18,64000,0,19,Test
36,18,470783.847981,96750.644145,29.47,69.86,0,0,18,Test
6,17,468070.057258,102920.544023,29.69,69.85,26000,0,17,Train
35,16,430784.508441,101639.580037,30.21,69.53,60000,158000,16,Test
5,15,468017.732742,119590.305828,31.58,69.32,22000,0,15,Train
4,14,467367.485934,134164.874552,33.77,69.75,54000,78000,14,Train
3,13,432531.908578,132211.967848,33.69,67.18,36000,111000,13,Train
34,12,455940.594059,150897.934750,34.34,66.82,203000,0,12,Test
33,11,404534.883721,147985.513807,34.40,66.27,110000,0,11,Test
32,10,425606.936416,172570.390554,34.60,66.06,157000,19000,10,Test
31,9,434965.831435,200334.295700,35.12,65.81,72000,0,9,Test
30,8,378894.901737,202938.971360,35.11,66.69,120000,0,8,Test
29,7,376942.496494,243670.886076,35.65,66.36,195000,76000,7,Test
28,6,331328.187384,283159.328189,37.57,66.09,193000,0,6,Test
2,5,281893.004115,340984.883902,43.74,64.17,297000,0,5,Train
1,4,206347.693481,401672.025723,52.46,62.20,256000,15000,4,Train
27,3,158308.494784,527152.744246,53.68,62.13,282000,0,3,Test
26,2,51919.228670,620905.137703,54.97,62.09,399000,0,2,Test
0,1,45.454545,679548.408057,44.00,61.56,531000,93000,1,Train

In [23]:
df.groupby(['set']).mean() # get mean of all columns grouped by set

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1
set,,,,,,,,
Test,23.875,400912.033393,139859.885379,31.512917,74.815417,88583.333333,10958.333333,23.875
Train,27.000,412485.021693,111027.211383,29.852692,76.402692,71653.846154,13461.538462,27.000

In [24]:
df.groupby(['set'])['sales_a'].mean() # get mean of sales_a grouped by set

set
Test     400912.033393
Train    412485.021693
Name: sales_a, dtype: float64

In [25]:
len(df) # number of rows

50

In [27]:
df['set'].nunique() # number of unique values in a column

2

In [28]:
df.describe()

,period,sales_a,sales_b,price_a,price_b,ads_b,influencers_b,period.1
count,50.00000,50.000000,50.000000,50.00000,50.000000,50.00000,50.0000,50.00000
mean,25.50000,406929.987309,124866.894901,30.64960,75.640800,79780.00000,12260.0000,25.50000
std,14.57738,99587.596086,148988.069777,7.56467,9.532509,112107.14445,32928.3762,14.57738
min,1.00000,45.454545,26948.051948,23.75000,61.560000,0.00000,0.0000,1.00000
25%,13.25000,412337.743645,42015.512018,25.22500,67.715000,0.00000,0.0000,13.25000
50%,25.50000,435654.017098,66032.327221,29.02000,74.080000,41000.00000,0.0000,25.50000
75%,37.75000,460656.896482,133676.647876,33.75000,82.070000,92250.00000,0.0000,37.75000
max,50.00000,473509.015257,679548.408057,54.97000,94.370000,531000.00000,158000.0000,50.00000

In [30]:
# create a function 

def add10(x):
    y = x + 10
    return y

In [31]:
# apply a function
df.period.apply(add10)

0     11
1     14
2     15
3     23
4     24
5     25
6     27
7     31
8     32
9     33
10    34
11    35
12    36
13    37
14    39
15    41
16    42
17    43
18    45
19    47
20    49
21    53
22    54
23    55
24    57
25    60
26    12
27    13
28    16
29    17
30    18
31    19
32    20
33    21
34    22
35    26
36    28
37    29
38    30
39    38
40    40
41    44
42    46
43    48
44    50
45    51
46    52
47    56
48    58
49    59
Name: period, dtype: int64

In [34]:
tb1 = df[['period', 'sales_a']]
tb2 = df[['period', 'sales_b']]

In [37]:
pd.merge(tb1, tb2, how='left', on='period') # do a left join

    period        sales_a        sales_b
0        1      45.454545  679548.408057
1        4  206347.693481  401672.025723
2        5  281893.004115  340984.883902
3       13  432531.908578  132211.967848
4       14  467367.485934  134164.874552
5       15  468017.732742  119590.305828
6       17  468070.057258  102920.544023
7       21  471669.477234   82831.410076
8       22  442158.516020   75310.910119
9       23  436342.202762   70489.977728
10      24  464966.216216   72184.623714
11      25  423801.369863   63365.139094
12      26  473509.015257   68699.515347
13      27  447326.109752   60219.571700
14      29  463757.916960   57489.264966
15      31  440317.858637   49630.290668
16      32  465010.526316   51064.100930
17      33  463030.303030   49213.454406
18      35  424450.659209   43515.445494
19      37  430553.390491   41814.744802
20      39  413521.015067   36974.492206
21      43  420064.076892   32359.445932
22      44  437086.359968   32779.991147
23      45  441267.942584   32139.766335
24      47  409751.283064   27896.440129
25      50  431752.988048   27635.901240
26       2   51919.228670  620905.137703
27       3  158308.494784  527152.744246
28       6  331328.187384  283159.328189
29       7  376942.496494  243670.886076
30       8  378894.901737  202938.971360
31       9  434965.831435  200334.295700
32      10  425606.936416  172570.390554
33      11  404534.883721  147985.513807
34      12  455940.594059  150897.934750
35      16  430784.508441  101639.580037
36      18  470783.847981   96750.644145
37      19  466666.666667   90909.090909
38      20  462228.997290   85247.763737
39      28  424519.734544   54561.262707
40      30  450906.400296   53244.298853
41      34  446573.705179   46732.648141
42      36  445609.177215   44245.654105
43      38  452777.777778   42617.813668
44      40  402358.113509   34116.674539
45      41  462519.809826   38067.246649
46      42  436985.759494   34411.247803
47      46  430973.797419   30470.103986
48      48  407815.631263   27059.965487
49      49  411943.319838   26948.051948