In [39]:
# Import libraries and load dataset
from sklearn import preprocessing
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

df = pd.read_csv(r"C:\Users\Cirrolytix\Documents\Python Bootcamp\linear_exercise.csv")

In [6]:
df

,Team,FTEs,Open Positions,AvgLeave Balance,Region,Department,Overtime Hrs
0,1,108,17,22,Metro Manila,IT,976
1,2,55,12,32,Metro Manila,Finance,433
2,3,33,7,15,Metro Manila,HR,200
3,4,43,4,6,Metro Manila,Strategy,187
4,5,33,6,17,Cebu,IT,198
5,6,23,5,28,Cebu,Finance,133
6,7,13,4,15,Cebu,HR,87
7,8,12,3,28,Cebu,Strategy,90
8,9,58,6,21,CALABARZON,IT,236
9,10,35,5,12,CALABARZON,Finance,177
10,11,16,3,18,CALABARZON,HR,88
11,12,9,2,23,CALABARZON,Strategy,34
12,13,44,4,19,Davao,IT,184
13,14,21,1,9,Davao,Finance,104
14,15,8,1,12,Davao,HR,65
15,16,7,2,15,Davao,Strategy,54

In [40]:
preprocessing.scale(df["Open Positions"])

C:\Users\Cirrolytix\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

array([ 2.94724223,  1.70629813,  0.46535404, -0.27921242,  0.21716522,
       -0.0310236 , -0.27921242, -0.52740124,  0.21716522, -0.0310236 ,
       -0.52740124, -0.77559006, -0.27921242, -1.02377888, -1.02377888,
       -0.77559006])

In [41]:
df["scale_positions"] = preprocessing.scale(df["Open Positions"])
df["leave_balance"] = preprocessing.scale(df["AvgLeave Balance"])
df["fte"] = preprocessing.scale(df["FTEs"])

C:\Users\Cirrolytix\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [42]:
df["leave_per_fte"] = df["AvgLeave Balance"] / df["FTEs"]

In [43]:
df

,Team,FTEs,Open Positions,AvgLeave Balance,Region,Department,Overtime Hrs,scale_positions,leave_balance,fte,leave_per_fte
0,1,108,17,22,Metro Manila,IT,976,2.947242,0.540212,2.994646,0.203704
1,2,55,12,32,Metro Manila,Finance,433,1.706298,1.980777,0.895919,0.581818
2,3,33,7,15,Metro Manila,HR,200,0.465354,-0.468184,0.024749,0.454545
3,4,43,4,6,Metro Manila,Strategy,187,-0.279212,-1.764692,0.420735,0.139535
4,5,33,6,17,Cebu,IT,198,0.217165,-0.180071,0.024749,0.515152
5,6,23,5,28,Cebu,Finance,133,-0.031024,1.404551,-0.371237,1.217391
6,7,13,4,15,Cebu,HR,87,-0.279212,-0.468184,-0.767223,1.153846
7,8,12,3,28,Cebu,Strategy,90,-0.527401,1.404551,-0.806822,2.333333
8,9,58,6,21,CALABARZON,IT,236,0.217165,0.396155,1.014715,0.362069
9,10,35,5,12,CALABARZON,Finance,177,-0.031024,-0.900353,0.103946,0.342857
10,11,16,3,18,CALABARZON,HR,88,-0.527401,-0.036014,-0.648427,1.125000
11,12,9,2,23,CALABARZON,Strategy,34,-0.775590,0.684268,-0.925618,2.555556
12,13,44,4,19,Davao,IT,184,-0.279212,0.108042,0.460334,0.431818
13,14,21,1,9,Davao,Finance,104,-1.023779,-1.332522,-0.450434,0.428571
14,15,8,1,12,Davao,HR,65,-1.023779,-0.900353,-0.965216,1.500000
15,16,7,2,15,Davao,Strategy,54,-0.775590,-0.468184,-1.004815,2.142857

In [44]:
region_df = pd.get_dummies(df["Region"])
dept_df = pd.get_dummies(df["Department"])

In [45]:
df = df.join(region_df)
df = df.join(dept_df)

In [46]:
df

,Team,FTEs,Open Positions,AvgLeave Balance,Region,Department,Overtime Hrs,scale_positions,leave_balance,fte,leave_per_fte,CALABARZON,Cebu,Davao,Metro Manila,Finance,HR,IT,Strategy
0,1,108,17,22,Metro Manila,IT,976,2.947242,0.540212,2.994646,0.203704,0,0,0,1,0,0,1,0
1,2,55,12,32,Metro Manila,Finance,433,1.706298,1.980777,0.895919,0.581818,0,0,0,1,1,0,0,0
2,3,33,7,15,Metro Manila,HR,200,0.465354,-0.468184,0.024749,0.454545,0,0,0,1,0,1,0,0
3,4,43,4,6,Metro Manila,Strategy,187,-0.279212,-1.764692,0.420735,0.139535,0,0,0,1,0,0,0,1
4,5,33,6,17,Cebu,IT,198,0.217165,-0.180071,0.024749,0.515152,0,1,0,0,0,0,1,0
5,6,23,5,28,Cebu,Finance,133,-0.031024,1.404551,-0.371237,1.217391,0,1,0,0,1,0,0,0
6,7,13,4,15,Cebu,HR,87,-0.279212,-0.468184,-0.767223,1.153846,0,1,0,0,0,1,0,0
7,8,12,3,28,Cebu,Strategy,90,-0.527401,1.404551,-0.806822,2.333333,0,1,0,0,0,0,0,1
8,9,58,6,21,CALABARZON,IT,236,0.217165,0.396155,1.014715,0.362069,1,0,0,0,0,0,1,0
9,10,35,5,12,CALABARZON,Finance,177,-0.031024,-0.900353,0.103946,0.342857,1,0,0,0,1,0,0,0
10,11,16,3,18,CALABARZON,HR,88,-0.527401,-0.036014,-0.648427,1.125000,1,0,0,0,0,1,0,0
11,12,9,2,23,CALABARZON,Strategy,34,-0.775590,0.684268,-0.925618,2.555556,1,0,0,0,0,0,0,1
12,13,44,4,19,Davao,IT,184,-0.279212,0.108042,0.460334,0.431818,0,0,1,0,0,0,1,0
13,14,21,1,9,Davao,Finance,104,-1.023779,-1.332522,-0.450434,0.428571,0,0,1,0,1,0,0,0
14,15,8,1,12,Davao,HR,65,-1.023779,-0.900353,-0.965216,1.500000,0,0,1,0,0,1,0,0
15,16,7,2,15,Davao,Strategy,54,-0.775590,-0.468184,-1.004815,2.142857,0,0,1,0,0,0,0,1

In [31]:
df.to_csv('modified_hr.csv')

In [47]:
pred1 = df[["FTEs", "Open Positions", "AvgLeave Balance"]]
pred2 = df[["scale_positions", "leave_balance", "fte", "leave_per_fte"]]
pred3 = df[["scale_positions", "leave_balance", "fte", "leave_per_fte", "CALABARZON", "Cebu", "Davao"
]]
pred4 = df[["scale_positions", "leave_balance", "fte", "leave_per_fte", "CALABARZON", "Cebu", "Davao", "Finance", "HR", "IT"
]]

In [48]:
pred4

,scale_positions,leave_balance,fte,leave_per_fte,CALABARZON,Cebu,Davao,Finance,HR,IT
0,2.947242,0.540212,2.994646,0.203704,0,0,0,0,0,1
1,1.706298,1.980777,0.895919,0.581818,0,0,0,1,0,0
2,0.465354,-0.468184,0.024749,0.454545,0,0,0,0,1,0
3,-0.279212,-1.764692,0.420735,0.139535,0,0,0,0,0,0
4,0.217165,-0.180071,0.024749,0.515152,0,1,0,0,0,1
5,-0.031024,1.404551,-0.371237,1.217391,0,1,0,1,0,0
6,-0.279212,-0.468184,-0.767223,1.153846,0,1,0,0,1,0
7,-0.527401,1.404551,-0.806822,2.333333,0,1,0,0,0,0
8,0.217165,0.396155,1.014715,0.362069,1,0,0,0,0,1
9,-0.031024,-0.900353,0.103946,0.342857,1,0,0,1,0,0
10,-0.527401,-0.036014,-0.648427,1.125000,1,0,0,0,1,0
11,-0.775590,0.684268,-0.925618,2.555556,1,0,0,0,0,0
12,-0.279212,0.108042,0.460334,0.431818,0,0,1,0,0,1
13,-1.023779,-1.332522,-0.450434,0.428571,0,0,1,1,0,0
14,-1.023779,-0.900353,-0.965216,1.500000,0,0,1,0,1,0
15,-0.775590,-0.468184,-1.004815,2.142857,0,0,1,0,0,0

In [54]:
lm.fit(pred1, df["Overtime Hrs"])
lm.score(pred1, df["Overtime Hrs"])

0.93784666050257

In [58]:
lm.fit(pred2, df["Overtime Hrs"])
lm.score(pred2, df["Overtime Hrs"])

0.9661931619311809

In [59]:
lm.fit(pred3, df["Overtime Hrs"])
lm.score(pred3, df["Overtime Hrs"])

0.9776192785547169

In [60]:
lm.fit(pred4, df["Overtime Hrs"])
lm.score(pred4, df["Overtime Hrs"])

0.9875570233122963